*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #0A192F;
}
nav .links a{
    text-decoration: none;
}
aside{
    width: 11rem;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0,-50%);
}
.icons{
    transform: translate(-6.9rem);
    transition: all 0.5s ease-in-out;
    padding:0 0 0 0.5rem;
    cursor: pointer;
}
.linkedin{
    background-color: #2563EB;
}
.linkedin:hover{
    transform: translate(0);
}
.github{
    background-color: #333333;
}
.github:hover{
    transform: translate(0);
}
.email{
    background-color: #6FC2B0;
}
.email:hover{
    transform: translate(0);
}
.resume{
    background-color: #565F69;
}
.resume:hover{
    transform: translate(0);
}
